# IDE config
.idea
.vscode

# Python bytecode
__pycache__

# Virtual environment
.venv

# .env files
.env
prod.env

# Coverage reports
.coverage
coverage.xml
/media/**

# SQLite DB File
db.sqlite3

# Distribution
dist/
dj_ninja_auth.egg-info/
